
$zoomrx-app-header-background-color: #ffffff !default;
$zoomrx-app-header-box-shadow-color: rgba(0, 0, 0, 0.05) !default;
$zommrx-page-title-color: #113661 !default;
$zoomrx-card-title-color: #172b4d !default;
$zommrx-card-text-color: rgba(0, 0, 0, 0.87) !default;
$zoomrx-grid-column-background-color: #f4f5f7 !default;
$zoomrx-grid-column-header-color: #5e6c84 !default;
$background-color-general: #ffffff !default;
$border-color-form-control: #9a9a9a !default;
$border-bottom-color-generel: #cccccc !default;
$button-light-color: #767676 !default;

$zoomrx-card-title-font-size: 0.875rem !default